
<ion-content>
        <ion-row>
                <ion-col size="6">
                        <ion-card  class="ion-text-center" (click)="presentModal()">
                                <ion-card-header>
                                  <ion-card-subtitle>  <ion-icon name="md-add-circle"></ion-icon></ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content>
                                        <b>Crear Itinerario</b>
                                </ion-card-content>
                        </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                    <ion-col size="6" *ngFor="let iti of lista_itinerario; let i =index;" (click)="listaItinerarioModal(i)" >
                            <ion-card   class="ion-text-center">
                                    <ion-card-header >
                                      <!-- <ion-card-subtitle>  <ion-icon name="md-add-circle"></ion-icon></ion-card-subtitle> -->
                                        <ion-img src="assets/icon/planning.png"></ion-img>
                                    </ion-card-header>
                                    <ion-card-content>
                                            <b>{{iti.descripcion}}</b>
                                    </ion-card-content>
                            </ion-card>
                    </ion-col>
                </ion-row>
</ion-content>
