  .avatar {
    // width: 100%;
    border: 3px solid #5cc0ffc9;
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
}
    .avatar img {
      width: 65px;
      height: 65px; 
    }

    .borde{
      border:1px solid #000000;
    }