<ion-header>
  <ion-toolbar>
    <ion-title>muro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Story line -->
    <ion-content  class="story" scrollX="true">
    <div class="story_scroll" *ngFor="let s of [1,2,3,4,5,6,7,8]">
      <div class="story_img_bg">
      <img no-margin no-padding class="story_img" src="assets/img/julio.jpg"></div>
      <p no-margin no-padding text-center class="story_text">Julio</p>
    </div>
    </ion-content >
  <!-- Story line -->
  <ion-content>

     <div class="divider-title">Recent</div>
     <ul class="timeline">
       <li>

         <div class="timeline-thumb bg-color-red timeline-icon">
           <i class="ion-heart"></i>
         </div>
        <ion-card>
         <div class="timeline-item">
           <h4>Like Title</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
           <div class="timeline-stats">
             <i class="ion-heart"></i> 2,450
             <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
           </div>
         </div>
       </ion-card>
       </li>
       <li>
         <img src="assets/img/julio.jpg" alt="" class="timeline-thumb">
         <ion-card>
         <div class="timeline-item">
           <h4>Updated Profile Picture</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
           <div class="timeline-stats">
             <i class="ion-heart"></i> 2,450
             <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
           </div>
         </div>
         </ion-card>
       </li>
       <li>
         <div class="timeline-thumb bg-color-lightblue timeline-icon">
           <i class="ion-wineglass"></i>
         </div>
         <ion-card>
         <div class="timeline-item">
           <h4>A Wine Glass</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
           <div class="timeline-stats">
             <i class="ion-heart"></i> 2,450
             <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
           </div>
         </div>
         </ion-card>
       </li>
     </ul>


 </ion-content>



</ion-content>
