
<ion-content class="custom-class-name">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Traviry</h2>
  
      <!-- Icon -->
      <div class="fadeIn first">

        <img src="assets/fondos/logo.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <!-- <form> -->
        <input type="text" [(ngModel)]="correo" class="fadeIn second" name="login" placeholder="correo">
        <input type="password" [(ngModel)]="password"  class="fadeIn third" name="login" placeholder="contraseña">
        <input type="submit"  class="fadeIn fourth" value="Entrar" (click)="login()">
      <!-- </form> -->
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">¿Olvidaste tu contraseña?</a>
      </div>
  
    </div>
  </div>
</ion-content>
