<ion-content>
    <div class="container">
        <div class="header ">
            <div class="title">
                <img src="assets/fondos/logo.png">
            </div>
        </div>
        <div class="body ion-text-center">
            <ion-list>
                <ion-item>
                    <ion-icon slot="start" name="at"></ion-icon>
                    <ion-input placeholder="Correo" [(ngModel)]="correo"></ion-input>
                </ion-item>
                <br>
                <ion-item>
                    <ion-icon slot="start" name="lock"></ion-icon>
                    <ion-input placeholder="Contraseña" [(ngModel)]="password"></ion-input>
                </ion-item>
                <ion-item>

                </ion-item>
            </ion-list>
            <br>
            <ion-button>
                Entrar
            </ion-button>

        </div>
        <div class="footer">
            ¿ya tiene cuenta? <a routerLink="/login">Ingresa aquí</a>
        </div>
    </div>
</ion-content>