<ion-header>
    <ion-toolbar>
        <ion-row class="ion-text-center">
            <ion-col size="2" size-lg>
                <ion-icon ios="ios-planet" md="md-planet" class="active tamanio-icon"></ion-icon>
            </ion-col>
            <ion-col size="2" size-lg>
                <ion-icon ios="ios-add-circle" md="md-add-circle" class="inactive tamanio-icon"></ion-icon>
            </ion-col>
            <ion-col size="2" size-lg>
                <ion-icon name="contact" class="inactive tamanio-icon" [routerDirection]="'root'" [routerLink]="['/perfil']"></ion-icon>
            </ion-col>
            <ion-col size="2" size-lg>
                <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" class="inactive tamanio-icon"></ion-icon>
            </ion-col>
            <ion-col size="2" size-lg>
                <ion-icon ios="ios-search" md="md-search" class="inactive tamanio-icon"></ion-icon>
            </ion-col>
            <ion-col size="2" size-lg>
                <ion-icon ios="ios-notifications" md="md-notifications" class="inactive tamanio-icon"></ion-icon>
            </ion-col>

        </ion-row>
    </ion-toolbar>
    <!-- <ion-toolbar color="white">
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon ios="ios-planet" md="md-planet" class="active tamanio-icon"></ion-icon>
          </ion-button>
          <ion-button>
              <ion-icon ios="ios-add-circle" md="md-add-circle" class="inactive tamanio-icon"></ion-icon>
          </ion-button>
        </ion-buttons>
  
        <ion-buttons slot="primary">
          <ion-button color="danger">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button> 
        </ion-buttons>
        <ion-title>Dark Toolbar</ion-title> 
      </ion-toolbar> -->
</ion-header>