.ago {
    font-weight: bold;
}

.inactive {
    color: #cccccc;
}

.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
    color: #56baed;
}

.head {
    height: 100%;
    padding: 5px;
}

.tamanio-icon {
    font-size: 30px; //Preferred size here
    font-weight: bolder;
}