<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-img class="img" src="assets/icon/favicon.png" alt=""></ion-img>
        <h1>Heading</h1>
    </ion-slide>
    <ion-slide>
      <ion-img class="img" src="assets/icon/favicon.png" alt=""></ion-img>
      <h1>Heading</h1>
      <p>Text</p>
    </ion-slide>
    <ion-slide>
      <ion-img class="img" src="assets/icon/favicon.png" alt=""></ion-img>
      <h1>My Slide 3</h1>
      <ion-button>FINISH TUTORIAL!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
