<ion-content>
  <!-- https://ionicthemes.com/product/ion2fullapp-full-ionic2-app-template-elite-version/live-preview -->
  <ion-slides pager="true">
    <ion-slide class="step-one" >
      <img class="img-only" src="/assets/fondos/1.png" alt="" width="10px" height="10px">
        <h3 class="margenes">¿Quies viajar pero no sabes como?</h3>
        <p class="margenes">Revisa los itinerarios de otros usuarios, desde el momento en que compraron su boletos
        hasta el momento de regreso a sus hogares.</p>
    </ion-slide>
    <ion-slide class="step-one">
      <img class="img-only" src="/assets/fondos/2.png" alt="">
      <h3 class="margenes">Revisa el presupuesto que usaron otros usuarios</h3>
      <p class="margenes">Si no sabes cuanto invertiras, puedes guiarte por el presupuesto que otros usuarios comparten.</p>
    </ion-slide>
    <ion-slide class="step-one">
      <img class="img-full " src="/assets/fondos/3.png" alt="">
      <h3 class="margenes-3">Crea viajes compartidos e invita a tus amigos a unirse</h3>
      <p class="margenes">Puedes formar un grupo y todos los integrantes tendran tu mismo itinerario.</p>
    </ion-slide>
    <ion-slide class="step-three slide-4 swiper-slide swiper-slide-active" style="width: 375px;">
      <div class="slide-zoom">
      <img  src="/assets/fondos/4.png" alt="">
      <h2 class="main-title">Traviry</h2>
      <!-- <p class="intro-text">
        Inicia Sesión.
      </p> -->
      <p class="intro-text" style="color:black">
        ¿Estas listo para viajar?
      </p>
      <div class="button-bar">
        <button ion-button="" primary="" class="button button-md button-default button-default-md">
          <span class="button-inner">Entrar</span>
          <div class="button-effect" style="transform: translate3d(-3px, -73px, 0px) scale(1); height: 175px; width: 175px; opacity: 0; transition: transform 345ms ease 0s, opacity 242ms ease 103ms;"></div></button>
        <button ion-button="" primary="" class="button button-md button-default button-default-md">
          <span class="button-inner">Registraté</span>
          <div class="button-effect" style="transform: translate3d(-56px, -76px, 0px) scale(1); height: 218px; width: 218px; opacity: 0; transition: transform 345ms ease 0s, opacity 242ms ease 103ms;"></div></button>
      </div>
    </div></ion-slide>
  </ion-slides>
</ion-content>
