<ion-content>
  <!-- https://ionicthemes.com/product/ion2fullapp-full-ionic2-app-template-elite-version/live-preview -->
  <ion-slides pager="true">
    <ion-slide class="step-one" >
      <img class="img" src="/assets/fondos/1.jpg" alt="">
        <h1>Heading777</h1>
    </ion-slide>
    <ion-slide>
      <img class="img" src="/assets/fondos/2.jpg" alt="">
      <h1>Heading</h1>
      <p>Text</p>
    </ion-slide>
    <ion-slide>
      <img class="img" src="/assets/fondos/3.jpg" alt="">
      <h1>Heading</h1>
      <p>Text</p>
    </ion-slide>
    <ion-slide class="step-three slide-4 swiper-slide swiper-slide-active" style="width: 375px;">
      <div class="slide-zoom">
      <img class="img" src="/assets/fondos/4.jpg" alt="">
      <h2 class="main-title">Almost done!</h2>
      <p class="intro-text">
        Log in to your account.
      </p>
      <p class="intro-text">
        We are ready to rock!
      </p>
      <div class="button-bar">
        <button ion-button="" primary="" class="button button-md button-default button-default-md">
          <span class="button-inner">Log in</span>
          <div class="button-effect" style="transform: translate3d(-3px, -73px, 0px) scale(1); height: 175px; width: 175px; opacity: 0; transition: transform 345ms ease 0s, opacity 242ms ease 103ms;"></div></button>
        <button ion-button="" primary="" class="button button-md button-default button-default-md">
          <span class="button-inner">Sign up</span>
          <div class="button-effect" style="transform: translate3d(-56px, -76px, 0px) scale(1); height: 218px; width: 218px; opacity: 0; transition: transform 345ms ease 0s, opacity 242ms ease 103ms;"></div></button>
      </div>
    </div></ion-slide>
  </ion-slides>
</ion-content>
