<div class="muck-up">
    <div class="bottom">
      <div class="title">
        <h3>Mi itinerario</h3>
        <small>February 8,2015</small>
      </div>
      <ul class="tasks">
        <li class="one green ">
          <ion-card>
                <ion-card-content>
                        <span class="task-title">Abordaje avion</span>
                        <span class="task-time">5 a:m</span>
                        <span class="task-cat">Web App</span>                                   
                </ion-card-content>
              </ion-card>
        </li>
        <li class="two red hang">
            <ion-card>
                <ion-card-content>
                        <span class="task-title">Team Meeting</span>
                        <span class="task-time">2pm</span>
                        <span class="task-cat">Hangouts</span>
                        <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/2.jpg">
                        <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/3.jpg">
                        <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/profile.jpg">
                        <br>
                </ion-card-content>
            </ion-card>
              
        </li>
        <li class="three yellow">
                <ion-card>
                        <ion-card-content>
                                <span class="task-title">Lunch with Mary</span>
                                <span class="task-time">2pm</span>
                                <span class="task-cat">Grill House</span>
                        </ion-card-content>
                    </ion-card>
       </li>
        <!-- <li class="one red">
          <span class="task-title">Catch up with Brian</span>
          <span class="task-time">3pm</span>
          <span class="task-cat">Mobile Project</span>
  
        </li>
        <li class="two green">
          <span class="task-title">Design Explorations</span>
          <span class="task-time">2pm</span>
          <span class="task-cat">Company Web site</span>
  
        </li>
        <li class="tow green hang">
          <span class="task-title">Team Meeting</span>
          <span class="task-time">2pm</span>
          <span class="task-cat">Hangouts</span>
          <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/2.jpg">
          <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/3.jpg">
          <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/profile.jpg">
        </li>
        <li class="three yellow">
          <span class="task-title">New Projects</span>
          <span class="task-time">2pm</span>
          <span class="task-cat">Starting</span>
  
  
        </li>
  
        <li class="three yellow">
          <span class="task-title">Lunch with Mary</span>
          <span class="task-time">2pm</span>
          <span class="task-cat">Grill House</span>
        </li>
        <li class="three yellow">
          <span class="task-title">Team Meeting</span>
          <span class="task-time">2pm</span>
          <span class="task-cat">Hangouts</span>
        </li> -->
  
      </ul>
    </div>
  </div>